.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 37%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 53%;
    width: 100%;
    color: #fff;
  }
}

.center-button {
  display: flex;
  padding: 0px;
  justify-content: center;
}
